@use '/app/styles/sass/variables' as *;

header {
    position: sticky;
    top: 0;
        z-index: 99;

}

.desktop {
    top: 0;
    width: 100vw;
    /*z-index: 99;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $background-color;
    padding: 1rem;
    background-color: $font-color;

    .activeLink {
        color: $secondary-color;
    }

    &_nav_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
        gap: 1.5rem;
        padding-block: 1rem; /*top and bottom */
        padding-inline: clamp(3rem, 5vw, 10rem); /*left and right*/

        li {
            a:hover {
                color: $secondary-color;
                border-bottom: 2px solid $secondary-color;
            }
            a.activeLink:hover {
                border-bottom: 2px solid transparent;
            }

        }
    }
}

@media screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
}
