@use '../../styles/sass/variables' as *;
@use 'sass:color';


header {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    padding: 1rem;
    color: $background-color;
    /*   background-color: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem); */
  /*box-shadow: 0 5x 15px 8px;*/
}

@media screen and (min-width: 768px) { /*revoir */
header {
  background-color: $font-color;

}
  }

