@use '../../../styles/sass/variables' as *;

.burger {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    z-index: 101;
    fill: $font-color;
    transition: background-color 150ms ease-in;
    rect {
        transition: y 75ms ease-in 75ms, rotate 75ms ease-in, opacity 0ms 75ms;
        transform-origin: center;
    }
}

.burger.open {
    fill: $background-color;
    rect {
        transition: y 75ms ease-in, rotate 75ms ease-in 75ms, opacity 0ms 75ms;
    }
    .rectTop,
    .rectBottom {
        y: 45;
    }

    .rectTop {
        rotate: 45deg;
    }

    .rectBottom {
        rotate: -45deg;
    }

    .rectMiddle {
        opacity: 0;
    }
}
