@use '../../../styles/sass/variables' as *;

.burger {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    /*z-index: 100;*/
    fill: $font-color;
    transition: background-color 300ms ease-in;
    rect {
        transition: y 300ms ease-in 300ms, rotate 300ms ease-in,
            opacity 0ms 300ms;
        transform-origin: center;
    }
}

.burger.open {
    fill: $background-color;
    rect {
        transition: y 300ms ease-in, rotate 300ms ease-in 300ms,
            opacity 0ms 300ms;
    }
    .rectTop,
    .rectBottom {
        y: 45;
    }

    .rectTop {
        rotate: 45deg;
    }

    .rectBottom {
        rotate: -45deg;
    }

    .rectMiddle {
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    .burger {
        display: none;
    }
}
