{
  "semi": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.html", "*.css", "*.scss"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "printWidth": 80,
  "singleQuote": true,
  "singleAttributePerLine": true
}
