@use '/app/styles/sass/variables' as *;

.about_content {
    p {
        margin-top: 1rem;
        line-height: 1.75;
    }
    a {
        text-decoration: underline $secondary-color;
        border: 2px solid transparent;

        &:hover, &:active {
            border: 2px dotted $secondary-color;
            text-decoration: none;
        }
    }
}
@media screen and (min-width: $medium) {
    p {
        text-align: justify;
    }
}
