@use '/app/styles/sass/variables' as *;

.mobile_nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $font-color;
    z-index: 100;
}

.mobile_nav_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    gap: 1.5rem;
    background-color: $font-color;
    color: $background-color;
    padding: 8rem 2rem 5rem 2rem;
    li {
        a:hover {
            color: $secondary-color;
            border-bottom: 2px solid $secondary-color;
        }
        a.activeLink:hover {
            border-bottom: 2px solid transparent;
        }
    }
}

.burger-button {
    cursor: pointer;
}

.activeLink {
    color: $secondary-color;
}


@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
}
