@use '/app/styles/sass/variables' as *;
@use 'sass:color';

.projectCard {

    h3 {
        font-weight: 500;
    }
    &_top {
        position: relative;
        width: inherit;
        height: 18.75rem;
        overflow: hidden;
        border-radius: 1.25rem;
        border-bottom-right-radius: 0;
        img {
            object-fit: cover;
        }
    }
    &_icon {
        position: absolute;
        bottom: -0.375rem;
        right: -0.375rem;
        width: 6rem;
        height: 6rem;
        background-color: $background-color;
        border-top-left-radius: 50%;
        &::before {
            position: absolute;
            content: '';
            bottom: 0.375rem;
            left: -1.25rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem $background-color;
        }
        &::after {
            position: absolute;
            content: '';
            top: -1.25rem;
            right: 0.375rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem $background-color;
        }
        &_content {
            position: absolute;
            inset: 0.625rem;
            background-color: $primary-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $background-color;
            transform: all 250ms ease-in-out;
            &:hover {
                background-color: color.scale($primary-color, $lightness: 20%);
                color: color.scale($background-color, $lightness: 10%);
                box-shadow: 0px 0px 8px 1px $primary-color;
            }
            
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;


                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }
    }
    &_content {
        padding: 0.5rem 1rem;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        &_tech {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            li {
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: $secondary-color;
                padding: 0.25rem 0.5rem;
            }
        }
    }
}

#dialogProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(50%, 50%);
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: gray;
    .closeButton {
        background-color: red;
        width: 50px;
        height: 50px;
    }
}
