@use './styles/sass/variables' as *;
@use './styles/sass/mixins' as *;
@use 'sass:color';

h1 {
    font-size: 3rem;
}

#home {
    @include main;
}

.buttonone {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    margin: 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $primary-color;
    color: $background-color;
    cursor: pointer;
    transition: border-color 0.25s;
}

.buttonone:hover {
    background-color: color.scale($primary-color, $lightness: 20%);
    color: color.scale($background-color, $lightness: 10%);
}

.buttontwo {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $secondary-color;
    cursor: pointer;
    transition: border-color 0.25s;
}


