@use './styles/sass/variables' as *;
@use './styles/sass/mixins' as *;
@use 'sass:color';

#home {
    @include main;
    /*     .hero {
        width: 100vw;
        height: 100vh; 
    } */
}

.buttonone {
    @include button;
    background-color: $primary-color;
    color: $background-color;
    transition: all 250ms;
}

.buttonone:hover {
    background-color: color.scale($primary-color, $lightness: 20%);
    color: color.scale($background-color, $lightness: 10%);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 8px 1px $primary-color;
}

.buttontwo {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $secondary-color;
    cursor: pointer;
    transition: border-color 0.25s;
}
