@mixin main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto; /* for sticky footer */
}

@mixin backdropBlur {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

@mixin button {
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
    font-weight: 500;
    font-family: inherit;

}
