
/// Font size


/// Font weight


/// Font colors
$font-color: hsla(164, 100%, 93%, 1);

/// Colors
$primary-color: hsla(164, 100%, 46%, 1);
$secondary-color: hsla(332, 67%, 48%, 1);
$background-color: hsla(223, 100%, 9%, 1);

/// Shadows

/// Border radius

/// Spacing


/// Container's maximum width
/*$max-width: 1180px !default;*/


/// Breakpoints 
$small: 320px;
$medium: 768px;
$large: 1024px;
$max-width: 1180px;
  

