
/// Font colors
$font-color: hsla(164, 100%, 97%, 1);

/// Colors
$primary-color: #00ebac;
$secondary-color: hsla(332, 67%, 48%, 1);
$background-color: hsla(223, 100%, 9%, 1);



/// Breakpoints 
$small: 375px;
$medium: 768px;
$max-width: 1180px;
  

