@use './variables' as *;

// -----------------------------------------------------------------------------
// Basic styles
// -----------------------------------------------------------------------------

/* :root {
  min-height: 100vh; /*à revoir:for footer position 
} */



html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  background: $background-color;
  line-height: 1.5;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
}

main {
  width: 90%; /*à modifier */
  max-width: $max-width;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.sr-only { /* à revoir */
  /*   position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0; */
    display: none;
  }

// -----------------------------------------------------------------------------
// Normalize
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

input, button, textarea, select {
  font: inherit; /*font-size, font-weight, and font-family*/
}

 button, dialog {
  background-color: transparent;
  color: inherit;
} 

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

// -----------------------------------------------------------------------------
// not-found page
// -----------------------------------------------------------------------------
 #not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1 0 auto; /* for sticky footer */
  a {
    text-decoration: underline;
    &:hover {
      color: $secondary-color;
    }
  }
 }








