//@use '../../../styles/sass/variables' as *;
@use '/app/styles/sass/variables' as *;

.nav_list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    gap: 1.5rem;
    letter-spacing: 2px;
    background-color: $font-color;
    padding: 8rem 2rem;
    /*padding: min(30vh, 10rem) 2rem; /* à revoir */
    z-index: 100;

    li {
        &:hover {
            color: $secondary-color;
        }
    }


    &.open {
        display: flex;
        animation: slideIn 300ms forwards;
    }

}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes slideOut {
    from {
        transform: translateX(0%);
        opacity: 1;


    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}


@media screen and (min-width: 768px) {
    /*revoir */
    .nav_list {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-block: 1rem; /*top and bottom */
        padding-inline: clamp(3rem, 5vw, 10rem); /*left and right*/
    }
    .homeLink {
        display: none;
    }
}

.mobile-nav-toggle {
    z-index: 101;
    cursor: pointer;

}

.activeLink {
    color: $secondary-color;

}
