@use '/app/styles/sass/variables' as *;

.one svg {
  width: 100px;
  height: 100px;
}

.react  {
  width: 100px;
  height: 100px;
  fill: #58C4DC;
}

.simple {
  fill: #61DAFB;
  width: 100px;
  height: 100px;
}

h3 svg {
  fill: $font-color;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  stroke: red;
  stroke-width: 5;
}