@use '/app/styles/sass/variables' as *;
@use '/app/styles/sass/mixins' as *;

#about {
    @include main;
    border: 1px solid violet;
    padding: 1rem 2rem;

}

.about_container {

    p {
        text-indent: 1rem;
        text-align: justify;
    }
    /*     &::after {
        content: '';
        display: block;
        clear: both;
    } */
}

.one svg {
    width: 100px;
    height: 100px;
}

.react {
    width: 100px;
    height: 100px;
    fill: #58c4dc;
}

.simple {
    fill: #61dafb;
    width: 100px;
    height: 100px;
}

h3 svg {
    fill: $font-color;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    stroke: red;
    stroke-width: 5;
}
