$PUBLIC_URL: unquote('~'+ '/public');

.about_hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    h1 {
        padding-inline-start: 1rem;
    }

    &_image {
        width: clamp(10rem, 30vw, 20rem);
        aspect-ratio: 1;
        position: relative; /* Important for the fill property */

        .profile_image {
            display: block;
            mask: url('#{$PUBLIC_URL}/images/mask-image.svg') no-repeat center;
            width: 100%;
            object-fit: cover;
        }
    }
}
