@use '/app/styles/sass/variables' as *;
@use '/app/styles/sass/mixins' as *;
@use 'sass:color';

.formContact {
    width: clamp(18rem, 50vw, 35rem);
    border-radius: 1.25rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: clamp(0.5rem, 4vw, 5rem);
    box-shadow: 0px 0px 20px color.scale($font-color, $alpha: -20%);

    div {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    input,
    textarea {
        background-color: $font-color;
        border-radius: 0.25rem;
        padding: 5px;
        border: 2px solid transparent;
    }
    textarea {
        height: 10rem;
        resize: vertical;
        overflow: auto;
    }

    input:focus,
    textarea:focus {
        border: 2px solid hsla(223, 100%, 50%, 0.5);
        outline: transparent;
    }

    .alert {
        padding: 0.3rem;
        margin-top: 5px;
        border: 1px solid hsla(0, 100, 52%, 1);
        background-color: hsla(0, 100, 92, 1);
        color: hsla(0, 100, 5, 1);
        border-radius: 0.25rem;
        font-size: 1rem;
    }
    button[type='submit'] {
        display: inline-flex;
        align-self: center;
        justify-content: center;
        width: 10rem;
        @include button;
        background-color: $primary-color;
        color: $background-color;
        transition: all 250ms ease-in-out;
        &:hover {
            background-color: color.scale($primary-color, $lightness: 20%);
            color: color.scale($background-color, $lightness: 10%);
            box-shadow: 0px 0px 8px 1px $primary-color;
        }
    }
}

.formContact_dialog[open] {
    position: fixed;
    top: 15rem;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-width: 1px;
    border-style: solid;
    &::backdrop {
        @include backdropBlur;
    }

    &.success {
        background-color: color.scale($primary-color, $lightness: 44%);
        border-color: color.scale($primary-color, $lightness: -30%);
        color: $background-color;
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
    }
    &.error {
        border: 1px solid hsla(0, 100, 52%, 1);
        background-color: hsla(0, 100, 92, 1);
        color: hsla(0, 100, 5, 1);
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
    }

    button {
        @include button;
        background-color: $background-color;
        color: $font-color;
        border: 1px solid transparent;
        transition: all 250ms ease-in-out;
        &:hover {
            background-color: color.scale($background-color, $lightness: 5%);
            color: color.scale($font-color, $lightness: 10%);
            border: 1px solid $font-color;
        }
    }
}
