@use '/app/styles/sass/variables' as *;
@use 'sass:color';

.skills {
    padding: 0.5rem 2rem 2rem 2rem;
    border-radius: 1.25rem;
    h2 {
        margin-bottom: 1rem;
    }

    border: 1px solid $font-color;
    box-shadow: 0 4px 8px hsla(164, 100%, 97%, 0.3);
}
