@use '/app/styles/sass/variables' as *;
@use '/app/styles/sass/mixins' as *;
@use 'sass:color';

.home_hero {
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-height: 100vh;

    .image {
        width: clamp(5rem, 50vw, 22rem);
        position: relative;
        aspect-ratio: 1;
        img {
            object-fit: cover;
            height: 100%;
            aspect-ratio: 1;
            border-radius: 2rem;
            border: 2px solid $font-color;
            box-shadow: 0px 0px 20px color.scale($font-color, $alpha: -20%);
        }
    }
    .cta {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        max-width: 100%;
        &_content {
            line-height: 4rem;
            text-align: center;
            h2 {
                color: color.scale($font-color, $lightness: -3%);
            }
        }
    }

    .cta_buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a {
            display: flex;
            justify-content: center;
            @include button;
        }
        &_contact {
            background-color: $primary-color;
            color: $background-color;
            transition: all 250ms ease-in-out;
            &:hover {
                background-color: color.scale($primary-color, $lightness: 20%);
                color: color.scale($background-color, $lightness: 10%);
                box-shadow: 0px 0px 8px 1px $primary-color;
            }
        }
        &_portfolio {
            border: 1px solid $primary-color;
            transition: all 250ms ease-in-out;

            &:hover {
                box-shadow: 0px 0px 8px 1px $primary-color;
            }
        }
    }
}

@media screen and (min-width: $medium) {
    .home_hero {
        flex-direction: row;
        justify-content: space-between;
        .cta {
            padding: 0;
            &_content {
                text-align: start;
            }
            &_buttons {
                justify-content: start;
            }
        }
        a.cta_buttons_contact {
            margin-left: 0;
        }
    }
}
