@use '/app/styles/sass/variables' as *;

.skillCard {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-left: 0.5rem;
  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

svg.icon {
  &_HTML {
    fill: #E34F26;
  }
  &_React {
    fill: #61DAFB;
  }
  &_Sass {
    fill: #CC6699;
  }
  &_Redux {
    fill:#764ABC;
  }
  &_Notion {
    fill: #000000;
  }
  &_JavaScript {
    fill: #F7DF1E;
  }
  &_Git {
    fill: #F05032;
  }
  &_GitHub {
    fill: #24292f;
  }
  &_Next.js {
    fill: #000000;
  }
  &_CSS {
    fill:#1572B6;
  }
  &_VSCode {
    fill: #0065A9
  }
}